---
export interface Props {
	title: string;
	description: string;
}

const { title, description } = Astro.props;
---

<section class="sm:grid sm:grid-cols-2">
  <div class="p-12 sm:px-16 sm:py-24">
    <div class="mx-auto max-w-xl text-center sm:text-left">
      <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
        {title}
      </h2>

      <p class="text-gray-500 mt-4 md:block">
        {description}
      </p>

      <p class="text-gray-500 mt-4 md:block hidden md:visible">
        アマチュア無線はもちろん、ライセンスフリー無線（DCR、LCR）も楽しんでいます。インターネットサービスの開発に携わるメンバーで構成されているので、ソフトウェア面でのアウトプットもしていきます。
      </p>
    </div>
  </div>

  <div class="sm:p-0 sm:pr-12 sm:pt-24">
    <img src="/assets/hero.jpg" class="lg:rounded-lg lg:shadow-lg" />
    <!-- <YouTube videoid="m_bD2Tbpdnw" /> -->
  </div>
</section>
