---
import TwitterIcon from "../icons/TwitterIcon.astro";

---

<section class="bg-white">
  <div class="mx-auto max-w-screen-xl px-4 sm:px-6 lg:px-8">
    <div
      class="mt-16 grid grid-cols-1 gap-4 sm:grid-cols-2 md:grid-cols-4"
    >
      <div>
        <img
          alt="ながたつかさ"
          src="https://pbs.twimg.com/profile_images/1617805810805145601/ednpFHKO_400x400.jpg"
          class="mx-auto h-24 w-24 rounded-full object-cover shadow-xl"
        />
        <div
          class="-mt-6 flex flex-col justify-between rounded-lg px-4 py-12 text-center"
        >
          <p class="text-lg font-bold text-gray-700">
            <span class="items-center divide-x gap-1">
              永田司
              <a href="https://twitter.com/JK1QPE" class="inline-flex align-text-middle">
                <TwitterIcon width=16 height=16 />
              </a>
            </span>
          </p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            JK1QPE / みなとNT510（DCR）
          </p>
          <p class="mt-4 text-sm text-gray-500">
          </p>
        </div>
      </div>
      <div>
        <img
          alt="Hiromitsu Matsuoka"
          src="https://pbs.twimg.com/profile_images/378800000395750886/e69f80c225971a7c458c67d1da2ab659_400x400.jpeg"
          class="mx-auto h-24 w-24 rounded-full object-cover shadow-xl"
        />
        <div
          class="-mt-6 flex flex-col justify-between rounded-lg px-4 py-12 text-center"
        >
          <p class="text-lg font-bold text-gray-700">
            <span class="items-center divide-x gap-1">
              松岡宏満
              <a href="https://twitter.com/ispern" class="inline-flex align-text-middle">
                <TwitterIcon width=16 height=16 />
              </a>
            </span>
          </p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            受験準備中
          </p>
        </div>
      </div>
      <div>
        <img
          alt="Yuta Kurotaki"
          src="https://pbs.twimg.com/profile_images/1532261134551592961/z7GI7Wul_400x400.jpg"
          class="mx-auto h-24 w-24 rounded-full object-cover shadow-xl"
        />
        <div
          class="-mt-6 flex flex-col justify-between rounded-lg px-4 py-12 text-center"
        >
          <p class="text-lg font-bold text-gray-700">
            <span class="items-center divide-x gap-1">
              黒瀧悠太
              <a href="https://twitter.com/kurotaky" class="inline-flex align-text-middle">
                <TwitterIcon width=16 height=16 />
              </a>
            </span>
          </p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            アマ開局準備中 / ヨコハマBD969（DCR・LCR）
          </p>
        </div>
      </div>
      <div>
        <img
          alt="あんちぽ"
          src="https://pbs.twimg.com/profile_images/1606162134513381376/8-m_GBgH_400x400.jpg"
          class="mx-auto h-24 w-24 rounded-full object-cover shadow-xl"
        />
        <div
          class="-mt-6 flex flex-col justify-between rounded-lg px-4 py-12 text-center"
        >
          <p class="text-lg font-bold text-gray-700">
            <span class="items-center divide-x gap-1">
              栗林健太郎
              <a href="https://twitter.com/kentaro" class="inline-flex align-text-middle">
                <TwitterIcon width=16 height=16 />
              </a>
            </span>
          </p>
          <p class="mt-1 text-xs font-medium text-gray-500">
            アマ開局準備中 / とうきょうKK256（DCR・LCR）
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
